.slideshow {
    background-color: white;
    width: 100%;
    height: 100vh
}

.slideshow .slide {
    display: none;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
        from(rgba(0,0,0,1)),
        to(transparent)
    );
    mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}


/* ---------------------------------------------------------------- */
/* Dots
/* ---------------------------------------------------------------- */

.slideshow .dots {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 0);
}

.slideshow .dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 1em;
    background-color: #bbbbbb33;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow .active, .slideshow .dot:hover {
    background-color: #bbb;
}

/* ---------------------------------------------------------------- */
/* Animation
/* ---------------------------------------------------------------- */

.slideshow .slide {
    -webkit-animation: fade 4s linear;
    animation: fade 4s linear;
}

@-webkit-keyframes fade {
    0%   {opacity: 0.2;}
    30%  {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0.2;}
}
@keyframes fade {
    0%   {opacity: 0.2;}
    30%  {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0.2;}
}
