/* ---------------------------------------------------------------- */
/* Menu Dashboard
/* ---------------------------------------------------------------- */

.container .main-title{
    font-size: 3em;
    margin-left: 4em;
}

#dashboard-menu {
    padding: 2em;
    display: grid;
    clear: both;
    grid-template-columns: auto auto;
}


#dashboard-menu article {
    font-size: 3em;
    padding: 1em;
    text-align: center;
    background: #2d2d2d;
    margin: 10px;
}

#dashboard-menu article:hover {
    background: white;
    transition: 0.4s;
}

#dashboard-menu article a{
    text-decoration: none;
    color: white;
}

#dashboard-menu article:hover a{
    color: #2d2d2d;
}

#dashboard-menu article:first-child a, #dashboard-menu article:last-child a{
    color: white;
}

#dashboard-menu article:first-child, #dashboard-menu article:last-child{
    border: #212178;
    background: #212178;
}

#dashboard-menu article:first-child:hover a, #dashboard-menu article:last-child:hover a{
    color: #212178;
}

#dashboard-menu article:first-child:hover, #dashboard-menu article:last-child:hover{
    border: white;
    background: white;
}

@media (max-width: 768px) {
    #dashboard-menu a {
        font-size: 4em;
    }
    .container .main-title{
        margin-left: 0;
        text-align: center;
    }
}