.container > img {

    width: 100%;
    height: 100%;
}

.container > section {
    top: 17%;
    left: 10%;
    font-size: 1.8em;
    width: 15em;
    position: absolute;
    z-index: 1;
}

.container h1 {
    padding-bottom: 1em;
}

body > footer {
    transform: translate(0, -100%);
    top: 100%;
}