#feed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#feed .pet {
    margin: 1em;
    width: 12em;
}

.pet img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet .image {
    border: 3px solid black;
    border-radius: 100%;
    background-color: darkslategrey;
    width: 100%;
    height: 12em;
}

.pet .actions {
    display: none;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
    top: -6em;
    transform: translate(0, -50%);
}

.pet .actions i {
    font-size: 2.5em;
}

.pet .favorite {
    cursor: pointer;
    color: deeppink;
}

.pet .already {
    color: darkgoldenrod;
}

.pet .go {
    color: limegreen;
}

.pet:hover img {
    opacity: 50%;
    filter: blur(0.4em);
}

.pet:hover .actions {
    display: flex;
}

.pet footer {
    color: red;
    background-color: inherit;
    height: 3em;
}

.new-pub{
    display: block;
    width: 80%;
    margin: 5em auto;
}

.new-pub a{
    text-decoration: none;
    padding: 1em;
    color: white;
    background: #212178;
    width: 100%;
}