/* Special variables just for the index page */
nav {
    background-color: #2d2d2daa;
}

body > .container {
    margin: 0;
}

/* ---------------------------------------------------------------- */
/* Categories
/* ---------------------------------------------------------------- */

#categories {
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

#categories article {
    padding: 1em;
    text-align: center;
}

#categories img {
    max-width: 100%;
}

#categories footer {
    background-color: inherit;
    padding: 0.5em 0 0 0;
    color: inherit;
}

/* ---------------------------------------------------------------- */
/* Testimonials
/* ---------------------------------------------------------------- */
#testimonials {
    background-color: red;
    padding: 2em;
}

/* ---------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------- */
body > footer {
    padding: 2em;
    width: calc(100% - 4em);
}