/* backgroud image*/
body {
    background-image: url("../images/errors/sea.jpg");
}

/* Form element */
.container > form {
    padding: 1em;
    display: block;
    text-align: center;
    background-color: #f1f1f1;
    width: 500px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.container > form .logout-button {

}

.container > form .account-image {
    font-size: 180px;
    color: dimgrey;
}

.container > form label {
    display: block;
    margin: 1em 0;
}

.container > form input {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-search-select {
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.input-search-select:focus {outline: 3px solid #ddd;}

.select-search {
    width: 100%;
    position: relative;
    display: inline-block;
}

.select-search-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 200px;
    overflow: auto;
}

.select-search-content a {
    color: black;
    padding: 12px 16px;
    margin: 0 !important;
    text-decoration: none;
    display: block;
}

.select-search a:hover {background-color: #ddd;}

.show {display: block;}

/* Set a style for all buttons */
.container > form button {
    background-color: #212178;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Not registered element */
.container > form a {
    color: black;
    text-decoration: none;
    margin: 1em 0 0;
    display: block;
}

/* Effects */
.container > form button:hover, .container > form a:hover {
    opacity: 0.8;
}
