/* Form element */
.container > form {
    padding: 1em;
    display: block;
    text-align: center;
    background-color: #f1f1f1;
    width: 500px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.container > form .logout-button {

}
/* icons */
.container > form i {
    font-size: 180px;
    color: dimgrey;
}

.container > form label {
    display: block;
    margin: 1em 0;
}

.container > form input {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.container > form button {
    background-color: midnightblue;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Not registered element */
.container > form a {
    color: black;
    text-decoration: none;
    margin: 1em 0 0;
    display: block;
}

/* Effects */
.container > form button:hover, .container > form a:hover {
    opacity: 0.8;
}

.container > form .add_photo_alternate:hover {
    color: #212178;
}

.container > form textarea {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    overflow: auto;
    resize: none;

}

#proposal-modal {
    display: none;
    position: absolute;
    width: 70%;
    left: 50%;
    bottom: 30em;
    transform: translate(-50%, 0);
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}