
#publication {
    display: flex;
    padding: 1em;

}

/* Form element */
.info > form {
    padding: 3px;
    display: block;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    height: 100%;

}

/* Set a style for all buttons */
.leftPart > button {
    background-color: #212178;
    color: white;
    padding: 1em;
    border: 20px;
    width: 300px;
    text-align: center;
    margin-left: 50px;
}

.leftPart > button:hover {
    opacity: 0.8;
}

.pet-image{
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pet_images {
    display: flex;
    padding: 1em;
    margin-left: 1em;

}

.pet_images > ul {
    list-style-type: none;
    margin-left: 1em;
}


.comment > textarea {
    width: 800px;
    padding: 1em;
}

.comment > input[type="submit"] {
    background-color: #212178;
    color: white;
    padding: 1em;
    border: 20px;
    width: 300px;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
}

.comment > input[type="submit"]:hover{
    background-color: #2e2e99;
}

#modal-button{
    background-color: #2e2e99;
    cursor: pointer;
}

.close{
    cursor: pointer;
}

.info {
    text-align: center;
    padding: 1em;
    width: 80%;
    line-height: 4;
}