/* ---------------------------------------------------------------- */
/* Colors
/* ---------------------------------------------------------------- */
:root {
    --nav-background-color: #2d2d2d;
    --nav-link-color: #fff;
    --nav-hover-color: #777;
    --nav-favorites-color: pink;
    --nav-favorites-hover-color: red;
    --nav-notifications-color: lightyellow;
    --nav-notifications-hover-color: yellow;

    --footer-background-color: var(--nav-background-color);
    --footer-text-color: var(--nav-link-color);
}


/* ---------------------------------------------------------------- */
/* Fonts
/* ---------------------------------------------------------------- */

@font-face {
    font-family: 'GangsterGrotesk';
    src: url('fonts/gangstergrotesk-regular.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'GangsterGrotesk';
    src: url('fonts/gangstergrotesk-bold.ttf') format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'GangsterGrotesk';
    src: url('fonts/gangstergrotesk-light.ttf') format("truetype");
    font-weight: 200;
}

/* ---------------------------------------------------------------- */
/* Body
/* ---------------------------------------------------------------- */

* {
    font-family: GangsterGrotesk, sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------- */
/* Nav
/* ---------------------------------------------------------------- */

nav {
    background-color: var(--nav-background-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    height: 3em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    height: 100%;
}

nav li {
    margin: 1em;
}

nav li a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--nav-hover-color);
}

nav li.logo {
    margin: 0;
}

nav li.logo img {
    height: 3em;
}

nav li.separator {
    flex-grow: 5;
}

nav li.favorites a {
    color: var(--nav-favorites-color);
}

nav li.favorites a:hover {
    color: var(--nav-favorites-hover-color);
}

nav li.notifications a {
    color: var(--nav-notifications-color);
}

nav li.notifications a:hover {
    color: var(--nav-notifications-hover-color);
}

nav li .material-icons {
    font-size: 1em;
}

ul.dropdown-list {
    display: none;
    position: absolute;
    right: calc(1em - 10px);
    top: calc(3em - 4px);
    background-color: #f9f9f9;
}

ul.dropdown-list:before {
    position: absolute;
    left: 74%;
    top: -14px;
    width: 0;
    height: 0;
    content: '';
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #f9f9f9;
}

ul.dropdown-list li {
    list-style: none;
    margin: 0;
}

ul.dropdown-list li a {
    color: #000;
    display: block;
    text-align: left;
    padding: 1em;
    cursor: pointer;
}

ul.dropdown-list li:hover {
    background-color: #f1f1f1
}

li.account:hover ul {
    display: block;
}

/* ---------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------- */

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 1em;
    text-align: center;
}

/* ---------------------------------------------------------------- */
/* Container
/* ---------------------------------------------------------------- */
body > .container {
    margin: calc(4.5em + 3em) 0 3em;
    width: 100%;
}
